<section>
    <div class="section" >
        <h1>Registrar vehiculo</h1>
        <div [formGroup]="form">
            <ng-container *ngIf="info == true">
                <div class="alerta">
                    <samp style="color: red; font-size: 17px;"> </samp>
                </div>
            </ng-container>
        </div>

        <form>
            <div class="row">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de Vehiculo</mat-label>
                        <input type="text" matInput id="tipo" formControlName="vehiculo">
                        <mat-error *ngIf="campoRequired('vehiculo')">
                            El Tipo de vehiculo <strong> es necesario</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput id="marca" formControlName="marca">
                        <mat-error *ngIf="campoRequired('marca')">
                           La Marca<strong> es necesario</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput id="marca" formControlName="modelo">
                        <mat-error *ngIf="campoRequired('modelo')">
                           El Modelo<strong> es necesario</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Placa</mat-label>
                        <input type="text" matInput id="marca" formControlName="placa">
                        <mat-error *ngIf="campoRequired('placa')">
                           La Placa<strong> es necesario</strong>
                        </mat-error>
                    </mat-form-field>
                </div>


            </div>
        </form>

        <div class="buttons">
            <button mat-raised-button>Registrar Vehiculo</button>
        </div>
    </div>

</section>
