section{
    padding: 2em 3em 0;
    .componente{
      .img{
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 30%;
            padding: 3em;
        }
      }
        .dashboard{
            
           .name{
            display: flex;
            justify-content: space-around;
            padding: 0 12px;
            h2{
                font-family: sans-serif;
                font-weight: 100;
            }
           }
           .matricula{
            h2{
                font-family: sans-serif;
                font-weight: 100;
                display: flex;
                justify-content: center;
            }
           }

           
        }
        .insert{
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 3em 4em ;
         gap: 3em;

         .example-form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;
          }
          .example-full-width {
            width: 100%;
          }
        }
    }
}

button {
    width: 10em;
    height: 3em;
    border-radius: 9px;
    border: none;
    background: #02957d;
    color: white;
  }
  button:hover {
    cursor: pointer;
    background: #006857;
    color: white;
  }
  button:disabled{
    background: #4cab9c;
  }